/* --- HeaderComponent --- */
.narbar {
    /* background-color: var(--off-white); */  
    background-color: ghostwhite ;
    color: black;
    position: sticky; /* == position:fixed; */
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

/* --- HeaderComponent --- */
.footer{
  background-color:black;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

/* --- HomeComponent --- */
.jumbotron {
    padding:250px 30px 250px 30px;
    margin-bottom: 100px auto;;
    background: rgb(14, 10, 20) ;
    color:floralwhite;
    text-align: center;
    background-image: url('/assets/images/homeig.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron p {
    font-family: 'Ubuntu', BlinkMacSystemFont;
    padding-top:20px;
    font-size:130%;
}

.jumbotron h1 {
    font-family: 'Helvetica Neue', BlinkMacSystemFont;
}

/* --- AboutmeComponent --- */


/* --- SchoolsComponent --- */
.school {
    color: white;
    margin-top: 80px;
    padding: 70px 30px;
    background-size: cover; 
    background:linear-gradient(rgba(131, 123, 123, 0.5),transparent);
    background-color: black; /*this your primary color*/
    font-size: 17px;
}

/* --- JobComponent --- */
.job {
    padding: 70px 30px;
    font-size: 17px;
}


.imgComponent {
  margin: 100px;
}



.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* --- SkillsComponent --- */
.myskill {
    padding: 50px 0px;  
    background:linear-gradient(rgba(131, 123, 123, 0.5),transparent);
    background-color: black; /*this your primary color*/ 
}

.myskill .igtitle{
  position: relative;
  top: 0px;
  left: 40%;
  color:white;
  font-size: 35px;
}

.myskill .igs {
    position: relative;
    top: 30px;
    left: 60%;
    transform: translate(-50%, -50%);
    padding-top: 130px;
}

.myskill .imggap {
    margin: 0px 10px;   
}