/* --- HeaderComponent --- */
.narbar {
    /* background-color: var(--off-white); */  
    background-color: ghostwhite ;
    color: black;
    position: sticky; /* == position:fixed; */
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.footer{
  background-color:black;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

/* --- HomeComponent --- */
.homepage {
    position: relative;
    text-align: center;
    color: white;
}

.homepage .jumbotron {
    padding:340px 0px;
    background: rgb(14, 10, 20) ;
    background-image: url('/assets/images/homeig.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.9;  --- image transparency */ 
}

.homepage .container{
    position: absolute;
    top: 15%;
    left: 7%;
    margin:0px auto;
    padding:0px auto;
    font-size: 30px;
    font-family: 'Baloo Bhaijaan', cursive;
    font-style: oblique;
    line-height: 60px;
}

.homepage .header{
    padding-left: 45px;
    margin-bottom: 200px;
    font-size: 100px;
    font-style: normal;
    border-top: white;
}

.homepage .leftline{
    position: relative;
    left: 230px;
    border-top: 8px solid white;
    margin-top: 1em;
    padding-right: 100px;
}

.homepage .rightline{
    position: relative;
    right: 190px;
    border-top: 8px solid white;
    margin-top: 1em;
    padding-right: 100px;
}

/* --- AboutmeComponent --- */


/* --- SchoolsComponent --- */
.school {
    color: white;
    margin-top: 80px;
    padding: 70px 30px;
    background-size: cover; 
    background:linear-gradient(rgba(131, 123, 123, 0.5),transparent);
    background-color: black; /*this your primary color*/
    font-size: 17px;
}

/* --- JobComponent --- */
.job {
    padding: 70px 30px;
    font-size: 17px;
}


.imgComponent {
  margin: 100px;
}





.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* --- SkillsComponent --- */
.myskill {
    padding: 50px 0px;  
    background:linear-gradient(rgba(131, 123, 123, 0.5),transparent);
    background-color: black; /*this your primary color*/ 
}

.myskill .igtitle{
  position: relative;
  top: 0px;
  left: 40%;
  color:white;
  font-size: 35px;
}

.myskill .igs {
    position: relative;
    top: 30px;
    left: 60%;
    transform: translate(-50%, -50%);
    padding-top: 130px;
}

.myskill .imggap {
    margin: 0px 10px;   
}